[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geoplot = "*"
pandas = "*"
geopandas = "*"
matplotlib = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.10"
