[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
matplotlib = "*"
plotly = "*"
dash-mantine-components = "*"
geopandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
